<div class="black">
    <div class="container">
        <br>
        <br>
        <h2>How To Use</h2>
        <div class="alert alert-warning" role="alert">
            <p class="alert">対応ブラウザ</p>
            Mac/Windows/Linux Chrome, Firefox, IE*<br>
            Mac/Windows/Linux Microsoft Edge<br>
            <hr>
            <p class="alert">未対応ブラウザ</p>
            Mac/Windows/Linux Safari<br>
            Android Chrome, Firefox<br>
            iOS Safari, Chrome
        </div>
        <div class="minimini_container">
            <br>
            <br>

            <h3>現在地から目的地までの時間で<br>プレイリストを作成します♬</h3>
            <br>
            <p>❶ログイン</p>
            <p>❷マイページからお好きなジャンルを登録。</p>
            <p>❸ハンバーガーメニューのMapから目的地を交通手段入力</p>
            <p>❹プレイリストが作成されます。</p>
        </div>
    </div>
</div>